header{
    min-height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(18,54,58,0.7),rgba(18,54,58,0.7)),url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
	box-sizing: border-box;
}

header h1{
    /* position: fixed;
    top: 50%; */
    font-size: 62px;
    color: #fff;
    text-align: center;
    margin-top: 8%;
}

/*---------------contact-about --------------*/

.contact-about{
    width: 80%;
    margin: auto;

    /* padding-top: 90px;
    padding-bottom: 100px; */
    margin-top: 80px;
    margin-bottom: 80px;
}

.contact-about .row{
    align-items: center;
}

.contact-about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.contact-about-col h2{
    padding-top: 0;
    color: #fff;
    font-style: italic;
    text-align: center;
}
.contact-about-col>p{
    padding: 0 0 10px;
    color: #6c757d;
   
}
.contact-about-col:first-child{
    position: relative;
}

.contact-about-col:first-child h2{
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 20%;
    font-size: 40px;
    
}
.hero-btn.red-btn{
    border: 2px solid rgb(245, 99, 75);
    background: transparent;
    color: rgb(245, 99, 75);
}
.hero-btn.red-btn:hover{
    border: 1px solid rgb(0, 0, 238);
    background: rgb(0, 0, 238);
    color: #fff;
}
.hero-btn.red-btn::after{
    background: #B2D058;
}
.hero-btn.red-btn::before{
    background: #B2D058;
}
.content-image{
    flex-basis: 50%;
}
.contact-about-col img{
    width: 100%;
}
@media(max-width:700px){
    .contact-about-col:first-child h2{
        font-size: 25px;
        left: 15%;
    }
    
}

/*-------- help ----------*/

.contact-help{
    margin: 0px auto 100px auto;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/about-cta.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.contact-help>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-help form{
    width: 40%;
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.contact-help form input {
    width: 80%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
.contact-help form button{
    font-size: 18px;
    padding: 10px;

}
.contact-help h2{
    color: #fff;
    margin-top: 9%;
    margin-bottom: 40px; 
    padding: 0; 
}

.contact-help a{
    width: 300px;
    background-color: rgb(245, 99, 75);
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
#video-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  
  #video-overlay iframe{
    width: 80%;
    height: 80%;
    margin: auto;
    display: block;
  }

  
@media(max-width:700px){
    .contact-help h2{
        font-size: 24px;
    }
    .contact-help form{
        width: 70%;
    
    }
    .contact-help form input {
        width: 100%;
    }
}


/*---------- club-clocation --------*/
#contact-location{
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url('../images/clubs.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 100px;
}
.contact-location{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-location h3{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.contact-location>p{
    color: #6c757d;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.contact-location .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;  
}
  
.contact-location-col{
    height: 200px;
    flex-basis: 19%;
    width: 200px;
    background: rgb(245, 99, 75);
    box-sizing: border-box;
    min-width: 180px;



    /* margin-bottom: 5%; */
    /* box-sizing: border-box;
    transition: .5s;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2); */
    /* max-width: 250px; */
    /* overflow: hidden;
    position: relative; */
}
.contact-location-col:hover{
    background:rgb(0, 0, 238);
    transition: all 0.5s;
    transform: scale(.9);
}
.contact-location-col:hover h2{
    display: none;
}
.contact-location-col:hover p{
    display: block;
    margin-top: 25%;
    color: #fff;
}
.contact-location-col:hover a{
    display: block;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}



.contact-location-col h2{
    margin-top: 35%;

    color: #fff;
}
.contact-location-col p{
    display: none;
}
.contact-location-col a{
    display: none;
}

.contact-location-col:first-child{
    background-image: linear-gradient(rgba(12,11,11,0.7),rgba(12,11,11,0.7)),url('../images/clubs.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.contact-location-col:nth-child(3){
    background-image: linear-gradient(rgba(12,11,11,0.7),rgba(12,11,11,0.7)),url('../images/clubs-1.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.contact-location-col:nth-child(5){
    background-image: linear-gradient(rgba(12,11,11,0.7),rgba(12,11,11,0.7)),url('../images/clubs-2.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
iframe{
    width:1280px;
    height:920px; 

}





/* .contact-location div:nth-child(3){
    background-image: linear-gradient(rgba(12,11,11,0.7),rgba(12,11,11,0.7)),url('../images/service-background.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.contact-location div:nth-child(3):hover{
    background-image: linear-gradient(rgba(12,11,11,0.7),rgba(12,11,11,0.7)),url('../images/service-background.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
} */

@media (max-width:900px){
    .contact-location .row{
        align-items: center;
        row-gap: 10px;
    }
    .contact-location-col{
       min-height: 200px;
        width:80%;
        
    }
    .contact-location-col>p{
        width: 100%;
    }
    
    
}


/*------- Contact Us Page ------------*/
#contact{
    width: 100%;
    background-image: linear-gradient(rgba(12, 11, 11, 0.7),rgba(24, 23, 23, 0.7)),url('../images/contactbackground.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    
}
.contact-us{
    margin: auto;
    padding-top: 50px;
    /* text-align: center; */
    
}

.contact-us h2{
    text-align: center;
}
.contact-us>p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #fff;
    width: 60%;
    padding: 10px;

}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.contact-col>div{
    display: flex;
    align-items:flex-start;
    margin-bottom: 40px;
    margin-left: 20%;
}

.contact-col>div .fa{
    font-size: 28px;
    color: rgb(245, 99, 75);
    margin: 10px;
    margin-right: 30px;
}

.contact-col .fa-regular{
    font-size: 28px;
    color: rgb(245, 99, 75);
    margin: 10px;
    margin-right: 30px;
} 
.contact-col>div p{
    padding: 0;
    color: #fff;
}
.contact-col>div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 400;
    
}
.contact-col label{
    color: #fff;
    display: block;
    padding-bottom: 10px;
    font-size: 18px;
    
}
.contact-col .form-field input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    padding-left: 50px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}

.footer-link{
    text-decoration: none;
    color: #777;
}

.form-checkbox{
    display: flex;
    /* align-items: center; */
    justify-content:flex-start;
    height: 40px;
    line-height: 40px;
    /* background-color: #B2D058; */
    margin-bottom: 17px;
}

.form-checkbox input{
    margin-left: 20px;
}
.form-person{
    display: flex;
    /* justify-content:space-between; */
    margin-bottom: 17px;


}
.form-person .form-field-person{
    width: 50%;
    
}
.form-person .form-field-person:first-child{
    margin-right: 20px;
}

.form-person .form-field-person input{
    width: 100%;
    padding: 14px;
    
}
.form-person .form-field-person select{
    width: 100%;
    padding: 15px;
    
}
.must::after {
    content: "*";
    color: red;
  }
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
#help-function h5{
    color: rgb(245, 99, 75);
    font-weight: 700;
}

@media(max-width:1080px){
    button.hero-btn{
        margin-bottom: 10px;
        width: 100%;
    }
    
}   
@media(max-width: 700px)
{

    .contact-col>div{
        display: flex;
        align-items: flex-start;
        margin-bottom: 40px;
        margin-left: 5%;
        
    }
    .contact-us>p{
        width: 100%;
    }
    .form-person{
        flex-direction: column;
    }
    .form-person .form-field-person{
        width: 100%;
        
    }
    label{
        display: none;
    }
    .form-person{
        display: none;
    }
    .visuallyhidden{
        border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
    }



}


.input-icons i {
    position: absolute;		/* Set an absolute position for the icon */
}

.input-icons {
    width: 100%;			/* Set the icon container width */
    margin-bottom: 10px;	/* Set the bottom margin around the icon container*/
}

.icon {
    padding: 17px;			/* Set the padding around the icon */
    min-width: 40px;		/* Set the minimum width for the icon */
    color: rgb(245, 99, 75);			/* Set a color for the icon */
}

