/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Barlow Condensed',sans-serif; */
    font-family: 'Oswald', sans-serif;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}
h2 {
    color: rgb(245, 99, 75);
}

p {
    line-height: 22px;
    font-size: 14px;
}

li {
    line-height: 22px;
    font-size: 14px;
}

a {
    font-size: 14px;
}

section {
    /* min-height: 100vh; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* box-sizing: border-box; */
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* margin-top: 5%; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid rgb(245, 99, 75);
    padding: 12px 34px;
    background: rgb(245, 99, 75);
    position: relative;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    /* border-radius: 50px; */
}

.hero-btn:hover {
    border: 1px solid rgb(0, 0, 238);
    background: rgb(0, 0, 238);
}

/* header */

header {
    min-height: 100vh;
    width: 100%;
    background-image: -o-linear-gradient(rgba(18, 54, 58, 0.1), rgba(18, 54, 58, 0.1)), url('../images/background.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 54, 58, 0.1)), to(rgba(18, 54, 58, 0.1))), url('../images/background.jpg');
    background-image: linear-gradient(rgba(18, 54, 58, 0.1), rgba(18, 54, 58, 0.1)), url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.6% 4%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 10;
    background-color: rgb(245, 99, 75);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 40px;

}

nav>a {
    display: inline-block;
    max-height: 60%;
}

nav img {
    width: 100px;
    margin-top: 5%;


}

.navbar {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

nav .fa-solid {
    display: none;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    padding-left: 100px;
}





/* -------------------footer --------------*/
footer {


    background-color: rgb(23, 23, 23);
    width: 100%;
    text-align: center;
    padding: 30px 0;
    padding-top: 100px;
}

footer .row {
    width: 70%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: auto;
    padding-top: 10px;

    /* gap:1.5rem; */
}

footer .row .footer-col {
    /* flex:1 1 15rem; */
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

footer .row .footer-col h3 {
    color: rgb(245, 99, 75);
    font-size: 28px;
    padding: 5px;
    text-align: left;

}

footer .row .footer-col a {
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    text-decoration: none;
    text-align: left;
}

footer .row .footer-col p {
    color: #fff;
    font-size: 14px;
    padding: 5px;
    text-align: left;
}

footer .row .footer-col a:hover {
    color: rgb(0, 0, 238);
    text-decoration: underline;
}

footer .row .footer-col img {
    margin-top: 1rem;
}

footer .social {
    text-align: center;
    border-top: .1rem solid rgb(245, 99, 75);
    margin-bottom: 40px;
    margin-top: 100px;
    color: #fff;
}

.icons .fa {
    color: rgb(245, 99, 75);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o {
    color: rgb(245, 99, 75);
}


/* Mobile */